body{
    background-color: rgb(224, 220, 214);
    font-family: Helvetica;
    text-align: center;
}
h1{
    color:rgb(255, 47, 47);
    font-weight: bold;
    font-size: 150px;
}
p{
    font-weight: bold;
}